@font-face {
    font-family: 'AdigianaUltra';
    src: url('fonts/AdigianaUltra.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	background-color: #aee1ff;
	font-family: AdigianaUltra;
	font-size: 7pt;
	color: #397DA6;
	transition: background-color 2s ease;
}
body.night-mode {
	color: #988244;
	background-color: #00122a;
}
main{
	display: flex;
	flex-direction: column;
	z-index: 0;
	position: relative;
	align-items: center;
}
header{
	margin-top: 40px;
	position: relative;
	z-index: 0;
	overflow: hidden;
	width: 320px;
	height: 19vh;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}
.circles-container {
	position: absolute;
	top: 26%;
	left: 0;
	width: 100%;
	max-width: 800px;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}
.circle {
	position: absolute;
	border-radius: 50%;
	background-color: #d2e8ff;
	z-index: 1;
	width: 50px;
	height: 50px;
}
.content {
	position: relative;
	z-index: 2;
	text-align: center;
}

/* Позиционирование кружочков */
.circle:nth-child(1) {
	top: 0%;
	left: 5%;
	animation: cloudUP 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(2) {
	top: -10%;
	left: 13%;
	animation: cloudUP 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(3) {
	top: -15%;
	left: 23%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(4) {
	top: 10%;
	left: 33%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(5) {
	top: -15%;
	left: 43%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(6) {
	top: -5%;
	left: 53%;
	animation: cloudUPRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(7) {
	top: -10%;
	left: 63%;
	animation: cloudUP 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(8) {
	top: 15%;
	left: 73%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(9) {
	top: 10%;
	left: 83%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(10) {
	top: 10%;
	left: 8%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(11) {
	top: 10%;
	left: 18%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(12) {
	top: 20%;
	left: 23%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(13) {
	top: -10%;
	left: 33%;
	animation: cloudUPLEFT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(14) {
	top: 10%;
	left: 43%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(15) {
	top: 20%;
	left: 53%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(16) {
	top: 20%;
	left: 63%;
	animation: cloudUP 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(17) {
	top: -20%;
	left: 72%;
	animation: cloudDOWN 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(18) {
	top: 20%;
	left: 38%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(19) {
	top: 0%;
	left: 73%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(20) {
	top: -10%;
	left: 80%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(21) {
	top: 0%;
	left: 59%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(22) {
	top: 5%;
	left: 2%;
	animation: cloudDOWNRIGHT 3s linear infinite;
	animation-delay: 0s;
}
.circle:nth-child(23) {
	top: 0%;
	left: 15%;
}
.circle:nth-child(24) {
	top: 0%;
	left: 30%;
}
@keyframes cloudUP {
	0% {
		transform: translate(0%, 0%);
	}
	50%{
		transform: translate(0%, -20%);
	}
	100%{
		transform: translate(0%, 0%);
	}
}
@keyframes cloudDOWN {
	0% {
		transform: translate(0%, 0%);
	}
	50%{
		transform: translate(0%, 20%);
	}
	100%{
		transform: translate(0%, 0%);
	}
}
@keyframes cloudDOWNRIGHT {
	0% {
		transform: translate(0%, 0%);
	}
	50%{
		transform: translate(10%, 10%);
	}
	100%{
		transform: translate(0%, 0%);
	}
}
@keyframes cloudUPLEFT {
	0% {
		transform: translate(0%, 0%);
	}
	50%{
		transform: translate(-10%, -10%);
	}
	100%{
		transform: translate(0%, 0%);
	}
}
@keyframes cloudUPRIGHT {
	0% {
		transform: translate(0%, 0%);
	}
	50%{
		transform: translate(-20%, -20%);
	}
	100%{
		transform: translate(0%, 0%);
	}
}

.balls{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 40px;
	width: 320px;
}
.balls img{
	width: 30%;
}
.balls-line1{
	display: flex;
	justify-content: center;
}
.balls-line2{
	position: absolute;
	top: 46%;
	display: flex;
	justify-content: center;
}
@keyframes rotate_r {
	0% {
		transform: rotate(0deg);
	}
	16%{
		transform: rotate(15deg);
	}
	32%{
		transform: rotate(-15deg);
	}
	50%{
		transform: rotate(0deg);
	}
}
@keyframes rotate_l {
	0% {
		transform: rotate(0deg);
	}
	16%{
		transform: rotate(-15deg);
	}
	32%{
		transform: rotate(15deg);
	}
	50%{
		transform: rotate(0deg);
	}
}
.balls .rotate_right {
	animation: rotate_r linear both;
	animation-timeline: scroll();
	animation-range: entry 0% cover 50%;
}
.balls .rotate_left {
	animation: rotate_l linear both;
	animation-timeline: scroll();
	animation-range: entry 0% cover 50%;
}

.block_plus_text{
	display: flex;
	justify-content: center;
}

.section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
.svg-section {
	position: relative;
}
.container {
	width: 100vw;
	height: 100vh;
	border-radius: 15px;
	overflow: hidden;
}
#svg-container {
	width: 100%;
	height: 100%;
}

.moving-image {
	filter: url(#drop-shadow);
	transition: all 0.2s ease;
	z-index: 10;
}
.start-image, .end-image {
	filter: url(#drop-shadow);
	opacity: 1;
	transition: opacity 0.3s ease;
}


.block_card {
	display: flex;
	justify-content: center;
	margin: 20px 0 10px;
}
.card {
	perspective: 1000px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.card.flipped {
	transform: rotateY(180deg);
}
.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 10px;
}
.back {
	transform: rotateY(180deg);
	position: relative;
}
.back_blur_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(3px);
	z-index: 1;
	/* transform: rotateY(180deg); */
}
.back_content {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
.card_photo_f {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card_photo_b {
	width: 45%;
	height: auto;
	position: absolute;
	top: 7%;
	right: 3%;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: 2px 0px 5px rgba(0,0,0,0.7);
}
.text_photo {
	position: absolute;
	bottom: 15%;
	right: 14%;
	margin: 0;
	color: #988244;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
.text_card {
	margin: 5% 3% 10%;
	width: 50%;
	color: #988244;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	font-size: 7pt;
}
.click {
	position: absolute;
	width: 26px;
	height: 27px;
	top: 25%;
	left: 62%;
	z-index: 100;
	cursor: pointer;
}
.back_btn {
	position: absolute;
	width: 5%;
	height: auto;
	bottom: 7%;
	left: 4%;
	cursor: pointer;
}

.floating-images-section {
	position: relative;
	width: 320px;
	padding: 65px 0px;
	overflow: hidden;
}

.floating-image {
	position: absolute;
	width: 15px;
	height: 15px;
	object-fit: contain;
	transition: all 0.3s ease;
	animation: float 3s ease-in-out infinite;
}

/* Позиционирование каждой картинки */
.image-1 {
	top: 20%;
	left: 15%;
	animation-delay: 0s;
}

.image-2 {
	top: 60%;
	left: 5%;
	animation-delay: 0.5s;
}

.image-3 {
	top: 50%;
	left: 25%;
	animation-delay: 1s;
}

.image-4 {
	top: 10%;
	left: 35%;
	animation-delay: 1.5s;
}

.image-5 {
	top: 50%;
	left: 45%;
	animation-delay: 2s;
}

.image-6 {
	top: 30%;
	left: 60%;
	animation-delay: 0.5s;
}

.image-7 {
	top: 10%;
	left: 90%;
	animation-delay: 1s;
}

.image-8 {
	top: 77%;
	left: 85%;
	animation-delay: 1.5s;
}

.image-9 {
	top: 75%;
	left: 55%;
	animation-delay: 2s;
}

.image-10 {
	top: 50%;
	left: 75%;
	animation-delay: 2s;
}

/* Анимация плавающего эффекта */
@keyframes float {
	0%, 100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
}

text {
	font-size: 12pt;
	paint-order: stroke;
	fill: #397DA6;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

footer{
	display: flex;
	justify-content: center;
	height: 30px;
}

@media (min-width: 375px) {
	body{
		font-size: 8pt;
	}
	.text_card{
		font-size: 8pt;
	}
	.text_photo{
		bottom: 15%;
	}
	.card_photo_b{
		width: 45%;
		right: 3%;
	}
	.back_btn{
		bottom: 9%;
		left: 3%;
		width: 4%;
	}
	footer{
		font-size: 8pt;
	}
}
@media (min-width: 425px) {
	body{
		font-size: 8pt;
	}
	.text_card{
		font-size: 8pt;
	}
	.text_photo{
		bottom: 15%;
	}
	.card_photo_b{
		width: 45%;
		right: 3%;
	}
	.back_btn{
		bottom: 9%;
		left: 3%;
		width: 4%;
	}
	footer{
		font-size: 8pt;
	}
}
